/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
node_modules/
.idea
recipes
config/default/key.key.anthropic.yml
config/default/key.key.openai.yml
